unitedairlines/src/main/mule/private.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="privateFlow" doc:id="119b65f8-35a4-47c3-b829-e4eba3f4410b" >
		<http:request method="GET" doc:name="Request" doc:id="a81b8d91-6e15-42c7-892b-72f371e32e66" config-ref="HTTP_Request_configuration" path="/united/flights/{to}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	to : attributes.uriParams.dest
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
